APP_NAME=RaphaelAI
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

LARAVEL_PORT=8000
PULSE_ENGINE_PORT=8001
MOBILE_API_BASE_URL=http://localhost:8000

CAMARA_BASE_URL=
CAMARA_CLIENT_ID=
CAMARA_CLIENT_SECRET=
NOKIA_NAC_API_KEY=
